/* URL: https://www.twitch.tv/popout/fadeoutsama/chat?darkpopout= */
/* color key filter: Green color + contrast 100 + opacity 40 + rest default */

html {
  font-size: large !important;
}

body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
  font-size: 24px;
}

.tw-flex-shrink-0,
.consent-banner {
  display: none !important;
}
.stream-chat-header {
  display: none;
}

.tw-full-height,
.chat_room,
.chat-room__content {
  background-color: rgba(0, 0, 0, 0) !important;
}
