#OSX
#-------------------------------------------------------------------------------
.DS_STORE

#General
#-------------------------------------------------------------------------------
build
node_modules
yarn.lock

# coverage
coverage
.nyc_output
